appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1707233003401/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1705564648255/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1724956251579/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
cmdstanpy @ file:///home/conda/feedstock_root/build_artifacts/cmdstanpy_1711480603048/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1712429967442/work
convertdate @ file:///home/conda/feedstock_root/build_artifacts/convertdate_1642883757836/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1725332059429/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
Cython @ file:///Users/runner/miniforge3/conda-bld/cython_1724960523931/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1707444580667/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
ephem @ file:///Users/runner/miniforge3/conda-bld/ephem_1696889731570/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1703780968325/work/dist
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1712344658892/work
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1715092799204/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
holidays @ file:///home/conda/feedstock_root/build_artifacts/holidays_1716295231311/work
hpack==4.0.0
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1724450538981/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1711040877059/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1708996616394/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1715263367085/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1714573116818/work
jsonschema-specifications @ file:///tmp/tmpkv1z7p57/src
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1687700988094/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1695648427522/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1695380058985/work
LunarCalendar==0.0.9
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1704590491139/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1715976190777/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
multitasking @ file:///home/conda/feedstock_root/build_artifacts/multitasking_1622493113162/work
munkres==1.1.4
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1688996247388/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1688887121808/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1688740601640/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1704469236901/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1712154828646/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1694617248815/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1715777629804/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1686267560832/work
pmdarima @ file:///Users/runner/miniforge3/conda-bld/pmdarima_1720972290214/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
prophet @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_359nec7q0r/croot/prophet_1689928107726/work
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1705722524070/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
PyMeeus @ file:///home/conda/feedstock_root/build_artifacts/pymeeus_1670868433998/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1715024416831/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1714619483868/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
rpds-py @ file:///Users/runner/miniforge3/conda-bld/rpds-py_1715090021953/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1719998112149/work/dist/scikit_learn-1.5.1-cp311-cp311-macosx_11_0_arm64.whl#sha256=222c30e646a03424700a27e8e0d5f9094a71f2163f1e992e7ae0d5229a3687f7
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1714794167971/work/dist/scipy-1.13.0-cp311-cp311-macosx_11_0_arm64.whl#sha256=8b0a1af51f28ac08d7617a83df96c343f47da61f29da826a688bad0b02da304a
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1714494649443/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
stanio @ file:///home/conda/feedstock_root/build_artifacts/stanio_1707763820911/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1702316326878/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1715217510152/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1708363164806/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1714854870413/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1712329955671/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1719391292974/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1694681268211/work
yfinance @ file:///home/conda/feedstock_root/build_artifacts/yfinance_1691939798761/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
zstandard==0.23.0
